#nav {
    height: 35px;
}

#navbarlist {
    float: right;
}

.list{
    padding-left: 20px;
    padding-right: 20px;
    font-family: "oswald", sans-serif;
 font-weight: bolder;
 text-transform: uppercase;
 font-size: 20px;
}



.jumbotron {
    height: 620px;
    background-size: cover;
 background-image: url("images/Water.jpg") 
}

#PHOTOGRAPHY {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    text-align: center;
}


#abm {
    width: 550px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

body{
    background-color:#8f8f8f !important;
}

.cards{
    height:350px;
    text-align: center;
    font-weight: bolder;
    background-color:#5e5e5e !important;

}

.card-img-top
{
    height:300px;
}

