#nav {
    height: 35px;
}

#navbarlist {
    float: right;
    height: 35px;
}

.list{
    padding-left: 20px;
    padding-right: 20px;

    font-family: "oswald", sans-serif;
 font-weight: bolder;
 text-transform: uppercase;
 font-size: 20px;
}

.bg-cover {
        background-image: url("/ecs1819-1/webFinal/images/Move1") 
    }
    
    
body {text-align: center}